/* Import */
@import url('https://fonts.googleapis.com/css2?family=Prompt:ital@0;1&display=swap');

/* Main */
*{
    font-family: 'Prompt';
    font-style: normal;
}

.main-container{
    display: flex;
    position: absolute;
    min-width: 991.98px;
    width:1600px;
    height: 900px;
    margin-left: 315px;
    background: #F4FBFE;
    justify-content: center;
    /* align-items: center; */
    overflow: auto;
    /* z-index: -2; */

}


@media (max-width: 991.98px) { 
    .main-container{
        margin-left: 78px;
        transition: 0.3s;
    }
}

/*...........content...........*/
.main-income {
    position: relative;
    margin-top: 10px;
    width: 1530px;
    /* height: 860px; */
    min-height: 860px;
    border-radius: 5px;
    border: 1px solid #C2DEDE;
    padding: 10px;
    background: #FFFFFF;
}
/* .main-income button{
    margin: 10px 5px;
    width: 7rem;
    background: #0f6c81;
    border-radius: 7px;
    color: #FFFFFF;
} */
.table-income{
    margin: 5px 10px;
    padding: 5px;
    border: 1px solid #C2DEDE;
    border-radius: 7px;
}

.bi-check-circle-fill{
    color: #2AADCA;
}
.bi-x-circle{
    color: red;
}

.btn.btn-printer{
    border: 1px solid #C2DEDE;
    background-color: #FFFFFF;
    color: black;
    margin: 15px;
}
.btn.btn-detail{
    width:250px;
    background: #FFFFFF;
    border-radius: 15px;
    border: 1px solid #C2DEDE;
    color: black;
}
.btn.btn-detail:hover{
    width:250px;
    background: #0f6c81;
    border-radius: 15px;
    border: 1px solid #C2DEDE;
    color: #FFFFFF;
}
.btn.btn-click{
    width:180px;
    background: #0f6c81;
    border-radius: 7px;
    border: 1px solid #C2DEDE;
    color: #FFFFFF;
}
.btn.btn-click:hover{
    width:180px;
    background: #C2DEDE;
    border-radius: 7px;
    border: 1px solid #C2DEDE;
    color: #000000;
}
.btn.btn-head{
    border: 1px solid #C2DEDE;
    width: 125px;
    margin: 10px 2px;
    background: #0f6c81;
    border-radius: 7px;
    color: #FFFFFF;
}
.label{
    margin: 7px;
}
.second-tab{
    display: grid;
    justify-content: flex-end;
    padding: 0;
}
#filterYear{
    margin: 15px;
    gap: 5px;

}
#filterTri{
    margin: 15px;
    margin-left: 5px;
}
.header-modal{
    border: 1px solid #C2DEDE;
    display: grid;
    grid-template-columns: auto 25px;
}
.grid-form-createExpenses{
    border: 1px solid #C2DEDE;
    display: grid;
    grid-template-rows: 100px auto 100px;
}
.form-createExpenses{
    display: grid;
    grid-template-columns: auto 250px;
}
.bd{
    border: 1px solid #C2DEDE;
}
.pd-r{
    padding-right: 20px;
}
.pd-l{
    padding-left: 25px;
}
.total-sumInput{
    border: 1px solid #C2DEDE;
    height: 40px;
    border-radius: 5px;
    padding-top: 7px;
    background: #e6e6e6;
    padding-left:10px;
}
.form-control.form-date{
    width: 217px;
}
.select-month{
    margin: 15px 20px;
}
.main-income #table-outcome {
    height: fit-content;
    max-height: 900px;
    border-top: 1px solid #C2DEDE;
}
.pl-2{
    padding-right: 15px;
}
.head-income{
    margin: 10px;
    display: grid;
    grid-template-columns: auto 400px;

}
.head-income-right{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: flex-end;
}
