/* Import */
@import url('https://fonts.googleapis.com/css2?family=Prompt:ital@0;1&display=swap');

/* Main */
*{
    font-family: 'Prompt';
    font-style: normal;
}

.main-container{
    display: flex;
    position: absolute;
    min-width: 991.98px;
    width:1600px;
    height: 901px;
    margin-left: 315px;
    background: #F4FBFE;
    justify-content: center;
    align-items: center;
    overflow: auto;
    z-index: -2;

}


@media (max-width: 991.98px) { 
    .main-container{
        margin-left: 78px;
        transition: 0.3s;
    }
}

/*...........content...........*/
.main-income {
    position: relative;
    margin-top: 10px;
    width: 1530px;
    height: 860px;
    border-radius: 5px;
    border: 1px solid #C2DEDE;
    padding: 10px;
    background: #FFFFFF;
}
.main-income button{
    margin: 10px 5px;
    width: 7rem;
    background: #0f6c81;
    border-radius: 7px;
    color: #FFFFFF;
}
.main-income .filter{
    margin-left: 890px;
}

.table-income{
    margin: 5px 10px;
    padding: 10px;
    border: 1px solid #C2DEDE;
    border-radius: 7px;
}
.bi-check-circle-fill{
    color: #2AADCA;
}
.bi-x-circle{
    color: red;
}
.table-income{
    border: 1px solid #C2DEDE;
    border-radius: 7px;
    margin: 7px;
    padding: 15px;
}
.btn.btn-printer{
    border: 1px solid #C2DEDE;
    background-color: #FFFFFF;
    color: black;
}
