@import url('https://fonts.googleapis.com/css2?family=Prompt:ital@0;1&display=swap');

/* Main */
*{
    font-family: 'Prompt';
    font-style: normal;
}

.main-container{
    display: flex;
    position: absolute;
    min-width: 991.98px;
    width:1600px;
    height: 901px;
    margin-left: 315px;
    background: #F4FBFE;
    justify-content: center;
    align-items: center;

}


@media (max-width: 991.98px) { 
    .main-container{
        margin-left: 78px;
        transition: 0.3s;
    }
}

/*...........content...........*/
.main-news{
    position: relative;
    margin-top: 10px;
    width: 1530px;
    height: 860px;
    border-radius: 5px;
    border: 1px solid #C2DEDE;
    padding: 5px 15px;
    background: #FFFFFF;
}
.header{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 15px;
    margin:15px 5px ;
}
.btn.btn-create{
    border: 1px solid #C2DEDE;
    background: #FFFFFF;
    color: black;
}
.body-table-news{
    border: 1px solid #C2DEDE;
    padding: 5px 15px;
    border-radius: 7px;
}

