/* Import */
@import url('https://fonts.googleapis.com/css2?family=Prompt:ital@0;1&display=swap');

/* Main */
*{
    font-family: 'Prompt';
    font-style: normal;
}

.main-container{
    display: flex;
    position: absolute;
    min-width: 991.98px;
    width:1600px;
    height: 901px;
    margin-left: 315px;
    background: #F4FBFE;
    justify-content: center;
    align-items: center;
    overflow: auto;
    /* z-index: -1; */

}


@media (max-width: 991.98px) { 
    .main-container{
        margin-left: 78px;
        transition: 0.3s;
    }
}

/*...........content...........*/
.main-dash {
    position: relative;
    margin-top: 10px;
    width: 1530px;
    height: 860px;
    border-radius: 5px;
    border: 1px solid #C2DEDE;
    padding: 10px;
    background: #FFFFFF;
}
.main-dash .search{
    width: 300px;
    margin: 10px;
}
.main-dash button{
    margin: 0 5px;
    width: auto;
    background: #0f6c81;
    border-radius: 5px;
    color: #FFFFFF;
}
 i {
    margin-right:10px;
}
.header-dash{
    position: absolute;
    margin-left: 5px;
}
.header-dash .noti-pay{
    position: relative;
    width: auto;
    margin-left: 760px;
    overflow: hidden;
}
.table-pay{
    border: 1px solid #C2DEDE;
    margin: 10px;
    padding: 15px;
    margin-top: 5rem;
    border-radius: 7px;
}
.table tbody{
    font-size: 14px;
}
.modal-payment{
    display: grid;
    grid-template-rows: 1fr 1fr 75px;
}
.modal-payment1{
    display: grid;
    grid-template-rows: 1fr 75px;
}
.payment-1{
    margin: 10px;
}
.payment-2{
    border: 1px solid #C2DEDE;
}
.payment-3{
    border: 1px solid #C2DEDE;
    padding-top: 5px;
}
.detail-vlg-pay{
    display: grid;
    grid-template-columns: auto auto;
}
.form-group{
    padding: 0 10px;
    line-height: 40px;
}
.pay-table-box{
    margin: 10px;
    border-radius: 7px;
    padding: 0 5px;
}
.btn-pay-vlg{
    text-align: center;
    margin: 10px;
}
.btn.btn-vlg-success{
    background: #14768C;
    width: 100px;
    color: #FFFFFF;
}
.btn.btn-vlg-close{
    background: #FFFFFF;
    width: 100px;
    color: #14768C;
    border: 1px solid #C2DEDE;
}


/* Modal */
.header{
    margin: 15px;
}
.content-detail-payment{
    display: grid;
    grid-template-columns: 355px auto;
    margin: 15px;
    padding: 5px;
}
/* .detail-left{
    border-right: 1px solid #C2DEDE;
} */
/* .detail-right{
    border: 1px solid #C2DEDE;
} */
.pre-img-slip{
    width: 350px;
    height: 100%;
}
.pre-img-slip-default{
    width: 350px;
    height: 100%;
    border: 1px solid #C2DEDE;
    border-radius: 7px;
    display: grid;
    align-items: center;
    justify-content: center;
}


.pre-img-slip #img-slip{
    width: 100%;
    height: 100%;
}
.form-detail{
    width: 100%;
    padding: 7px;
    margin-left: 15px;
}
.btn-detail-payment{
    padding: 7px;
    margin-left: 15px;
    margin-top: 10px;
}
.btn.btn-detail-success{
    background: #14768C;
    width: 150px;
    color: #FFFFFF;
}
.modal {
    position: fixed;
    z-index: -9999;
}

/* Filter */
.filter{
    /* border: 1px solid #C2DEDE; */
    display: flex;
    width: 300px;
    gap:5px;
}
.box-filter{
    /* border: 1px solid #C2DEDE; */
    display: flex;
    justify-content: flex-end;
    margin: 15px 0 15px 0;
}
td {
    border: 1px solid #C2DEDE;
}