@import url('https://fonts.googleapis.com/css2?family=Prompt:ital@0;1&display=swap');
*{
    font-family: 'Prompt';
    font-style: normal;
}
.main-container{
    display: flex;
    position: absolute;
    min-width: 991.98px;
    width:1595px;
    height: 892px;
    margin-left: 322px;
    background: #F4FBFE;
    justify-content: center;
    align-items: center;

}


@media (max-width: 991.98px) { 
    .main-container{
        margin-left: 78px;
        transition: 0.3s;
    }
}

/*...........content...........*/
.vlg_dashboard {
    position: relative;
    margin-top: 10px;
    width: 1530px;
    height: 860px;
    border-radius: 5px;
    border: 1px solid #C2DEDE;
    padding: 10px;
    background: #FFFFFF;
    display: grid;
    grid-template-rows: 280px 62px 2fr;
    /* overflow: scroll; */
}

.content_news{
    padding: 25px;
}
.border{
    border: 1px solid #C2DEDE;
    border-radius: 5px;
}
.dash-header{
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    /* border-bottom: 1px solid #C2DEDE; */
    border-top: 1px solid #C2DEDE;
}
.dash-chart{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    /* align-items: center; */
}
.select-mty{
    border: 1px solid #C2DEDE;
    border-radius: 4px;
    height: 40px;
    padding: 0 10px;
}
#mainChart{
    width: auto;
    padding: 10px 15px;
    margin: 2px 15px;
    border: 1px solid #C2DEDE;
    border-radius: 5px;
}
.footer-chart{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
    margin: 0 15px;
}
.footer-margin{
    padding: 10px;
    border-radius: 7px;
}
.format-text{
    margin: 7px 15px;
}
.dash-profile{
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}
#img-profile{
    width: 344px;
    height: 393px;
    object-fit: cover;
}
.format-grid{
    margin: 7px 10px;
}
.img-border-radius{
    border-radius: 7px;
}
.btn.btn-edit-profile{
    background: rgba(84, 202, 202, 1);
    color: #FFFFFF;
}
.btn.btn-edit-profile:hover{
    background: rgba(195, 205, 233, 1);
    color: #000000;
}
#doughnut-chart{
    height:450px;
    display: grid;
    align-items: center;
    justify-content: center;
}