@import url('https://fonts.googleapis.com/css2?family=Prompt:ital@0;1&display=swap');
*{
    font-family: 'Prompt';
    font-style: normal;
}
.main-container{
    display: flex;
    position: absolute;
    min-width: 991.98px;
    width:1595px;
    height: 892px;
    margin-top: 0px ;
    margin-left: 322px;
    background: #F4FBFE;
    justify-content: center;
    align-items: center;
    overflow: auto;
    /* z-index: -1; */

}


@media (max-width: 991.98px) { 
    .main-container{
        margin-left: 78px;
        transition: 0.3s;
    }
}

/*...........content...........*/
.vlg_payment {
    position: relative;
    margin-top: 10px;
    width: 1530px;
    height: 860px;
    border-radius: 5px;
    border: 1px solid #C2DEDE;
    padding: 10px;
    background: #FFFFFF;
    display: grid;
    grid-template-rows: 50px 2fr;
}
.pay_header{
    margin: 5px;
}
.pay_btn{
    display: flex;
    justify-content: space-between;
    padding: 0 25px 0 10px;
}
.pay_left .btn{
    border: 1px solid #C2DEDE;
    background-color: #0D5A6B;
    color: #FFFFFF;
}
.pay_right .btn{
    border: 1px solid #C2DEDE;
}
.pay_content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1505px;
    height: 700px;
    border-radius: 7px;
}
.pay_box{
    width: 500px;
    height: 550px;
    border: 1px solid #C2DEDE;
    padding: 10px;
    display: grid;
    grid-template-rows: 75px 1fr 65px ;
    gap: 5px 0;
    border-radius: 7px;
}
.p_box{
    border: 1px solid #C2DEDE;
    padding: 5px 0;
    border-radius: 5px;
}
.p_box p{
    color: #B8B6B6;
}
.pay_table{
    margin: 10px;
    padding: 5px;
}
.prg{
    color: #B8B6B6;
}
.pay_box3{
    display: grid;
    justify-content: center;
}
.pay_box3 .btn{
    border: 1px solid #C2DEDE;
    width: 150px;
}
.table-history{
    border: 1px solid #C2DEDE;
    margin: 10px;
    padding: 15px;
    border-radius: 7px;
}
.table tbody{
    font-size: 14px;
}

/* Modal */
.contentFormPayVlg{
    padding:  15px 20px;
}
.btn.btn-sendTP{
    background:#0D5A6B;
    color:#ffffff;
}
.btn.btn-sendTP:hover{
    background:#1f798d;
    color:#ffffff;
}
.btn.back:hover{
    background:#e2e2e2;
}

/* Modal */
.header{
    margin: 15px;
}
.content-detail-payment{
    display: grid;
    grid-template-columns: 355px auto;
    margin: 15px;
    padding: 5px;
}
/* .detail-left{
    border-right: 1px solid #C2DEDE;
} */
/* .detail-right{
    border: 1px solid #C2DEDE;
} */
.pre-img-slip{
    width: 350px;
    height: 100%;
}
.pre-img-slip-default{
    width: 350px;
    height: 100%;
    border: 1px solid #C2DEDE;
    border-radius: 7px;
    display: grid;
    align-items: center;
    justify-content: center;
}


.pre-img-slip #img-slip{
    width: 100%;
    height: 100%;
}
.form-detail{
    width: 100%;
    padding: 7px;
    margin-left: 15px;
}
.btn-detail-payment{
    padding: 7px;
    margin-left: 15px;
    margin-top: 10px;
}
.btn.btn-detail-success{
    background: #14768C;
    width: 150px;
    color: #FFFFFF;
}
.modal {
    position: fixed;
    z-index: -9999;
}
.btn.btn-vlg-success{
    background: #14768C;
    width: 100px;
    color: #FFFFFF;
}
.btn.btn-vlg-close{
    background: #FFFFFF;
    width: 100px;
    color: #14768C;
    border: 1px solid #C2DEDE;
}

.content-detail-history{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 15px;
    padding: 5px;
    height: auto;
}
.history-left{
    display: grid;
    gap: 15px;
}
.history-right{
    display: grid;
    gap: 15px;
    justify-content: flex-end;
}
.ml{
    padding-left: 20px;
}
.mr{
   display: grid;
   justify-content: flex-end;
}
.footer{
    display: grid;
    justify-content: center;
    margin: 10px;
}